.background-img {
  opacity: 0.325;
  z-index: -1;
  position: fixed;
  object-fit: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sakura {
  position: fixed;
  height: 100%;
  overflow: hidden;
}

