.tool-box {
  position: absolute;
  bottom: 16px;
  right: 8px;
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
}


.tool-box .tools {
  display: flex;
  flex-direction: column;
  gap: 4px;
}